.new_session-wrapper
  .new_session-wrapper__logo
    = link_to root_path do
      = image_tag asset_path("logo.png"), class: "new_session-wrapper__logo__image"

  .new_session-wrapper__main
    .new_session-wrapper__main__title
      登録が完了しました

