.middle-space
  %h2.title 支払い方法
  .middle-space__card-form
    .middle-space__card-form__info
      .middle-space__card-form__info__card-number
      .middle-space__card-form__info__expiration-date
      .middle-space__card-form__info__security-code
      .middle-space__card-form__info__register-btn