.middle-space
  .middle-space__card-form
    .middle-space__card-form__info
      .middle-space__card-form__info__title 
        支払い方法
      .middle-space__card-form__info__card-number
        %label(for="card-name") カード番号
        %span 必須
        %input.input-number{:type => "text", :placeholder => "半角数字のみ"}
        %ul
          %li
            = image_tag "creditcard.png", size: "30x20", alt: "クレジットカード", class: "card-kind" 
          %li
            = image_tag "creditcard.png", size: "30x20", alt: "クレジットカード", class: "card-kind" 
          %li
            = image_tag "creditcard.png", size: "30x20", alt: "クレジットカード", class: "card-kind" 
      .middle-space__card-form__info__expiration-date
        %label(for="card-name") セキュリティコード
        %span 必須
      .middle-space__card-form__info__security-code
        %label(for="card-name") セキュリティコード
        %span 必須
        %input.input-number{:type => "text", :placeholder => "半角数字のみ"}
      .middle-space__card-form__info__register-btn
        %button 購入する