@mixin explanatoryText {
  margin: 10px 0 ;
        label {
          font-size: 14px;
          font-weight: 600;
        }
        span {
          margin-left: 6px;
          font-size: 12px;
          background-color: red;
          color: white;
          font-weight: 600;
          border-radius: 2px;
          padding: 0 4px;
        }
}

@mixin createContentsBox {
  padding: 16px;
}

@mixin contentsExplanatory {
  p {
    color: gray;
    font-weight: bold;
    margin-bottom: 20px;
  }
}




.createMain {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  background-color: $bgwhite;
  &__logo {
    margin: 0 auto;
    align-items: center;
    height: 56px;
    display: flex;
    justify-content: center;
    &__image {
    }
  }
  &__createContents {
    margin: 0 auto;
    margin-top: 30px;
    width: 700px;
    background-color: $white;
    &__uploadImage {
      padding: 16px;
      &__title {
        label {
          font-size: 14px;
          font-weight: 600;
        }
        span {
          margin-left: 6px;
          font-size: 12px;
          background-color: red;
          color: white;
          font-weight: 600;
          border-radius: 2px;
          padding: 0 4px;
        }
      }
      &__fileUp {
        width: 100%;
        height: 150px;
        background-color: $bgwhite;
        border: 1px dotted gray;
        margin: 10px 0 ;
      }
    }
    &__uploadItem {
      padding: 16px;
      &__name {
        margin: 10px 0 ;
        label {
          font-size: 14px;
          font-weight: 600;
        }
        span {
          margin-left: 6px;
          font-size: 12px;
          background-color: red;
          color: white;
          font-weight: 600;
          border-radius: 2px;
          padding: 0 4px;
        }
      }
      &__textfield {
        margin-top: 16px;
        &__inputform {
          // height: 48px;
          // width: 100%;
        }
      }
      &__explanation {
        @include explanatoryText;
      }
      &__explanationTextfield {
        textarea {
          width: 100%;
          height: 100px;
          padding: 10px;
        }
      }
    }
    &__uploadItemDetail {
      padding: 16px;
      @include contentsExplanatory;

      &__category {
        @include explanatoryText;
      }
      &__categorySelect {
        .tag {
          width: 100%;
        }
      }
      &__brand {
        @include explanatoryText;
      }
      &__itemStatus {
        @include explanatoryText;
      }

    }
    &__uploadDelivery {
      padding: 16px;
      @include contentsExplanatory;
      &__deliveryFee {
        @include explanatoryText;
      }
      &__deliveryArea {
        @include explanatoryText;
      }
      &__deliveryDate {
        @include explanatoryText;
      }
    }
    &__uploadPrice {
      padding: 16px;
      @include contentsExplanatory;
      &__salePrice {
        @include explanatoryText;
      }
    }
    &__uploadBtn {
      @include createContentsBox;
      text-align: center;
      margin-top: 20px;
      button {
        width: 50%;
        height: 50px;
        background-color: $cyan;
        color: white;
        font-size: 20px;
        font-weight: bold;
      }
    }
    &__back {
      @include createContentsBox;
      text-align: center;
      .linkText {
        text-decoration: none;
        color: $cyan;
      }
    }
    &__attention {
      p {
        @include createContentsBox;
        margin: 0 auto;
        width: 80%;
        font-size: 12px;
        text-align: center;
      }
      
    }
  }
}