.headder-box{
  padding: 15px 60px ;
  &__upper{
    display: flex;
    &__logo{
      margin-right: 30px;
      font-size: 25px;
      color: #48dad8;
      img{
        width: 140px;
      }
    }
    
  }
  &__btm{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    &__categories{
      &__category{
        margin-right: 30px;
      }
      &__brand{
      }
    }
    &__user-session{
      &__user-login{
        margin-right: 30px;
      }
      &__user-signup{
      }
    }
    ul{
      display: flex;
      font-size: 13px;
    }
    li{
      color: #333;
    }
  }
  .link{
    text-decoration: none;
  }
}