.items-view{
  height: 100%;
  background-color: #f8f8f8;
  .items-view__title{
    h1{  
      font-size: 28px;
    }
    p{
      font-size: 24px;
      color: #3CCACE;
    }
    h1,p{
      font-weight: bold;
    }
  }
  .itemsList__text{
    background-color: white;
    color: #333;
    padding: 16px;
    ul{
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h2,p{
      text-align: left;
    }
    p{
      font-size: 10px;
    }
  }
  &__pick-category{
    padding: 80px 0 0;
    text-align: center;
    .category-items{
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
    }

  }
  &__pick-brand{
    padding: 80px 0 80px;
    text-align: center;
    .brand-items{
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
    }
  }
  .link{
    text-decoration: none;
  }
}