.items-view{
  background-color: $bgwhite;
  .items-view__title{
    h1{  
      font-size: 28px;
    }
    p{
      font-size: 24px;
      color: $cyan;
    }
    h1,p{
      font-weight: bold;
    }
  }
  &__pick-category{
    padding: 80px 0 0;
    text-align: center;
    .category-items{
      width: 1050px;
      height: auto;
      margin: 26px auto;
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-wrap: wrap;
    }
  }
  &__pick-brand{
    padding: 30px 0 80px;
    text-align: center;
    .brand-items{
      width: 780px;
      height: auto;
      margin: 26px auto;
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-wrap: wrap;
    }
  }

  .itemsList{
    background-color: $white;
    box-shadow: 2px 2px 6px rgb(213, 213, 213);
    width: 220px;
    margin: 0 20px 20px 0;
    transition-duration: .1s;

    &:hover{
      outline: 1px solid $cyan;
      
    }

    &__img{
      height: 220px;
      width: 220px;
      object-fit: cover;
    }
  }

  .itemsList__text{
    color: $black;
    padding: 16px;
    ul{
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h2,p{
      text-align: left;
    }
    p{
      font-size: 10px;
    }
  }

  .link{
    text-decoration: none;
  }
}
