@mixin explanatoryText {
  margin: 20px 0 ;
        label {
          font-size: 14px;
          font-weight: 600;
        }
        span {
          margin-left: 6px;
          font-size: 12px;
          background-color: red;
          color: white;
          font-weight: 600;
          border-radius: 2px;
          padding: 2px 4px;
        }
}

@mixin createContentsBox {
  padding: 16px;
}

@mixin contentsExplanatory {
  p {
    color: gray;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

@mixin pulldownTag {
  .tag {
    width: 100%;
    height: 48px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0 16px;
    -webkit-appearance: none;
  }
  position: relative;
}

@mixin textBox {
  .text {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 48px;
    padding: 0 16px;
  }
}

@mixin changeicon {
  .tag-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 2;
  color: #888;
  transform: translate(0, -50%);
  font-size: 18px;
  }
}

.createMain__createContents__errors{
  padding-left: 30%;
  color: red;
}

.createMain {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  background-color: $bgwhite;
  &__logo {
    margin: 0 auto;
    padding-top: 30px;
    align-items: center;
    height: 56px;
    display: flex;
    justify-content: center;
  }
  &__createContents {
    margin: 0 auto;
    margin-top: 30px;
    width: 700px;
    background-color: $white;
    &__uploadImage {
      padding: 16px;
      &__title {
        @include explanatoryText;
      }
      &__fileUp{
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        width: 660px;
        .file-field{
          display: none;
        }
        .image-preview,.image-preview-first{
          margin: 16px 0;
          display: flex;
          flex-wrap: wrap;
          &__image{
            &__img{
              width: 131px;
              margin-right: 1px;
              height: 160px;
              object-fit: cover;
            }
            .delete-btn{
              padding: 0 30%;
              text-align: center;
              background-color: $bgwhite;
              ul{
                color: rgb(0, 149, 238);
                cursor: pointer;
              }
            }
          }
        }
        #image-label{
          width: 100%;
          text-align: center;
          .image-field{
            background-color: $bgwhite;
            border-radius: 4px;
            margin-top: 10px;
            border: 1px dotted gray;
            height: 190px;
            cursor: pointer;
            &__icon{
              margin: 80px auto 0;
            }
          }
          #image-field-second{
            i{
              margin: 80px auto 0;
            }
          }
        }
      }
    }
    &__uploadItem {
      @include createContentsBox;
      &__name {
        margin: 10px 0 ;
        @include explanatoryText;
      }
      &__textfield {
        margin-top: 16px;
        @include textBox;
      }
      &__explanation {
        @include explanatoryText;
      }
      &__explanationTextfield {
        textarea {
          width: 100%;
          height: 100px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: inherit;
          font-size: inherit;
          margin: 0;
          outline: none;
        }
      }
    }
    &__uploadItemDetail {
      padding: 16px;
      @include contentsExplanatory;

      &__category {
        @include explanatoryText;
      }
      &__categorySelect {
        @include pulldownTag;
        @include changeicon;
      }
      &__brand {
        @include explanatoryText;
        span {
          background-color: gray;
        }
      }
      &__brandSelect {
        @include textBox;
      }
      &__itemStatus {
        @include explanatoryText;
      }
      &__itemStatusSelect {
        @include pulldownTag;
        @include changeicon;
      }

    }
    &__uploadDelivery {
      padding: 16px;
      @include contentsExplanatory;
      &__deliveryFee {
        @include explanatoryText;
      }
      &__deliveryFeeSelect {
        @include pulldownTag;
        @include changeicon;
      }
      &__deliveryType {
        @include explanatoryText;
      }
      &__deliveryTypeSelect {
        @include pulldownTag;
        @include changeicon;
      }
      &__deliveryArea {
        @include explanatoryText;
      }
      &__deliveryAreaSelect {
        @include pulldownTag;
        @include changeicon;
      }
      &__deliveryDate {
        @include explanatoryText;
      }
      &__deliveryDateSelect {
        @include pulldownTag;
        @include changeicon;
      }
    }
    &__uploadPrice {
      padding: 16px;
      @include contentsExplanatory;
      &__salePrice {
        @include explanatoryText;
      }
      &__priceArea {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        span {
          line-height: 50px;
          margin-right: 5px;
        }
        &__textField {
          .text {
            height: 50px;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0 16px;
            text-align: right;
            
          }
        }
      }

    }
    &__uploadBtn {
      @include createContentsBox;
      text-align: center;
      margin-top: 20px;
      button {
        width: 50%;
        height: 50px;
        background-color: $cyan;
        color: white;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 4px;
        .hidden-submit{
          display: none;
        }
        &:hover{
          background-color: rgb(58, 214, 219);
        }
      }
    }
    &__back {
      @include createContentsBox;
      text-align: center;
      .linkText {
        text-decoration: none;
        color: $cyan;
      }
    }
    &__attention {
      p {
        @include createContentsBox;
        margin: 0 auto;
        width: 80%;
        font-size: 12px;
        text-align: center;
      }
      
    }
  }
}

.createContentsBoder {
  border-top: 1px solid $bgwhite;
}

.margin-top {
  margin-top: 15px;
}