.top-view{
  height: 100%;
  width: 100vh;
  .content{
    &__intro{
      // 背景挿入
      h{
        font-size: 60px;
      }
      p{
        font-size: 18px;
      }
    }
    &__reason{
      &__headder{
        font-size: 26px;
      }
    }
  }
}