.top-view{
  height: 100%;
  .content{
    &__intro{
      height: 560px;
      padding: 0 60px;
      background-image: image-url('intro.jpg');
      background-repeat: no-repeat;
      @include bgcover;
      &__text{
        text-shadow: 0 5px 5px $shadowb;
        color: $white;
        padding-top: 240px;
        h1{
          font-size: 60px;
        }
        p{
          font-size: 18px;
        }
      }
    }
    &__reason{
      padding: 60px 20px;
      &__headder{
        @include head(26px);
        @include headafter;
      }
      &__lists{
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        &__list{
          width: 30%;
          text-align: center;
          margin: 16px 5% 0 0;
          @include imgrespon;
          &__pict{
            position: relative;
            margin-bottom: 20px;
            .number{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: $cyan;
              color: $white;
            }
          }
          .reason-text{
            font-size: 24px;
            font-weight: bold;
            line-height: 50px;
          }
          p{
            margin-top: 16px;
            font-size: 18px;
            text-align: left;
          }
          span{
            color: $cyan;
          }
        }
        .last{
          margin: 16px 0 0 0;
        }
      }
    }
    
    &__rankone{
      background-image: image-url('bg-topMiddleDl-pict.jpg');
      @include bgcover(bottom);
      height: 400px;
      align-items: center;
      display: flex;
      &__text{
        max-width: 1040px;
        color: $white;
        text-shadow: 0 0 5px $shadowb;
        width: 100%;
        margin: 0 auto;
        h1{
          font-size: 27px;
          font-weight: bold;
        }
        .p-space{
          margin: 20px 0 30px;
          font-size: 18px;
        }
      }
    }
    &__feature{
      padding: 60px 100px;
      &__headder{
        @include head;
        @include headafter
      }
      &__lists{
        display: flex;
        width: 100%;
        margin: 0 auto;
        &__list{
          width: calc(1 / 3 * 100%);
          padding: 0 20px;
          text-align: center;
          &__pict{
            width: 100%;
            margin: 0 auto;
            @include imgrespon;
          }
          .feature_text{
            margin: 38px 0 10px;
            font-size: 19px;
            font-weight: bold;
          }
          p{
            margin: 0 0 40px;
            text-align: left;
            font-size: 17px;
          }
        }
      }
    }
  
  }
  .link-sell{
    .sell-btn{
      width: 120px;
      background: $cyan;
      text-align: center;
      border-radius: 4%;
      bottom: 32px;
      right: 32px;
      position: fixed;
      padding: 15px;
      span{
        color: $white;
        display: block;
        font-size: 18px;
        text-decoration: none;
        margin-bottom: 5px;
      }
      img{
        width: 60%;
      }
    }
  }
}