* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100%;
  background-color: $mainGrayColor;
}

.upper_space {
  height: 128px;
  text-align: center;
  line-height: 181px;
  &-to-top-btn {
    height: 49px;
    width: 185px;
  }
}

.middle_space {
  height: 722px;
  background-color: $mainGrayColor;
  &__info {
    height: 100%;
    width: 49%;
    margin: 0 auto;
    &__info-head {
      color: #333333;
      background-color: $mainWhiteColor;
      height: 14%;
      border-bottom-style: solid;
      border-bottom-color: #f5f5f5;
      border-bottom-width: thin;
      h2 {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 100px;
      }

    }
    &__item-info {
      background-color: $mainWhiteColor;
      height: 20%;
      padding: 32px 16px;
      display: flex;
      justify-content: center;
      border-bottom-style: solid;
      border-bottom-color: #f5f5f5;
      border-bottom-width: thin;
      &__img {
    
      }
      &__content {
        margin-left: 50px;
        &__name {
          font-size: 12px;
          margin-bottom: 17px;
        }
        &__price {
          font-size: 12px;
          &__p {
            &__span {
              &__mgr-10 {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
    &__payment-info {
      background-color: $mainWhiteColor;
      height: 66%;
      &__form {
        height: 100%;
        &__howToPay {
          &__space {
            margin: 10px 0 0 200px;
          }
        }
        &__btn {
          button {
            align-items: center;
          }
        }
        &__price {
          height: 30%;
          border-bottom-style: solid;
          border-bottom-color: #f5f5f5;
          border-bottom-width: thin;
          .content {
            display: flex;
            justify-content: center;
            padding-top: 57px;

            &-text {
              font-size: 18px;
              padding-top: 5px;
              padding-right: 53px;
              font-weight: bold;

            }
            &-appraisal {
              font-size: 24px;
              font-weight: bold;
              padding-left: 73px;
            }
          }
        }
        &__howToPay {
          height: 20%;
          background-color: $mainWhiteColor;
          border-bottom-style: solid;
          border-bottom-color: #f5f5f5;
          border-bottom-width: thin;
          h3 {
            padding-left: 190px;
            padding-top: 25px;
            font-size: 14px;
            font-weight: bold;
          }
          a {
            padding-left: 190px;
            padding-top: 8px;
            font-size: 14px;
            text-decoration: none;
            color: $mainBlueColor;
            &__space {
              
            }
          }
        }
        &__billingAddress {
          height: 20%;
          border-bottom-style: solid;
          border-bottom-color: #f5f5f5;
          border-bottom-width: thin;
          h3 {
            padding-left: 190px;
            padding-top: 25px;
            font-size: 14px;
            font-weight: bold;
          }
          a {
            padding-left: 190px;
            padding-top: 8px;
            font-size: 14px;
            text-decoration: none;
            color: $mainBlueColor;
          }
        }
        &__btn {
          height: 30%;
          display: flex;
          button {
            font-size: 14px;
            font-weight: bold;
            border: 1px solid #888;
            background: $cyan;
            color: #fff;
            margin-left: 130px;
            margin-top: 40px;
            padding: 15px 135px;
          
          }
        }
      }
    }
  }
}

.lower_space {
  height: 220px;
  background-color: $mainGrayColor;
}
