
.middle-room {
  background-color: $white;
  height: 600px;
  width: 700px;
  &__card-form {
    width: 100%;
    &__info {
      max-width: 343px;
      margin: 0 auto;
      &__title {
        height: 10%;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 20px 0px;
        border-bottom-style: solid;
        border-bottom-color: #f5f5f5;
        border-bottom-width: thin;
      }
      &__card-number {
        height: 98px;
        padding-top: 20px;
        // ⬆️危険かも(無理やり上下の位置を変えてる)
        label {
          font-weight: 600;
        }
        .input-number {
          @include input-area();
          margin: 8px 0 6px;
        }
        ul {
          margin-top: 5px;
          li {
            display: inline;
          }
          li {
            display: inline;
          }
          li {
            display: inline;
          }
        }
      }
      &__expiration-date {
        padding-top: 50px;
        // ⬆️危険かも(無理やり上下の位置を変えてる)
        height: 70px;
        label {
          font-weight: 600;
        }
        .mandate {
          background-color: red;
          border-radius: 2px;
          padding: 2px 4px;
          margin: 0 0 0 8px;
          color: white;
        }
        &__select {
          display: flex;
          margin-top: 4px;
          &__month {
            display: flex;
            &__box {
              select {
                height: 53px;
                width: 140px;
                margin-top: 5px;
              }
            }
            .default-letter {
              margin: auto;
              padding-left: 12px;
            }
          }
          &__year {
            display: flex;
            &__box {
              select {
                height: 53px;
                width: 140px;
                margin-top: 5px;
                margin-left: 12px;
              }
            }
            .default-letter {
              margin: auto;
              padding-left: 12px;
            }
          }
        }
      }
      &__security-code {
        padding-top: 90px;
        // ⬆️危険かも(無理やり上下の位置を変えてる)
        height: 93px;
        label {
          font-weight: 600;
        }
        .mandate {
          background-color: red;
          border-radius: 2px;
          padding: 2px 4px;
          margin: 0 0 0 8px;
          color: white;
        }
        .input-number {
          @include input-area();
          margin: 8px 0 6px;
        }
        &__tip {
          color: $cyan;
          font-size: 14px;
          .question {
            border-radius: 50%;
            background: $cyan;
            padding: 0 4px;
            color: $white;
          }
        }
      }
      &__register-btn {
        @include submit-btn();
        margin-top: 20px;
      }
    }
  }
}

.mandate {
  background-color: red;
  border-radius: 2px;
  padding: 2px 4px;
  margin: 0 0 0 8px;
  color: white;
  font-size: 14px;
}

.card-wrapper{
  padding: 20px;
  height: 457px;
  width: 700px;
  background-color: white;
  &__title{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  &__content-title{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    .require{
      text-align: center;
      padding: 3px;
      color: white;
      font-size: 12px;
      border-radius: 4px;
      background-color: white;
    }
  }
  &__input-text {
    margin: 10px auto;

  }
}
.charge-form {
  margin: 20px 100px;
  align-items: center;
  button {
    background-color: $cyan;
    color: white;
    width: 200px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
    border-radius: 4px;
  }
}
