@mixin bg($position: center) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $position;
}
@mixin shadow {
  text-shadow:  0 0 5px rgba(0,0,0,0.4);
}
@mixin w100 {
  width: 100%;
}
@mixin head {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}
@mixin headafter {
  &::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}