@mixin bgcover($position: center) {
  background-position: $position;
  background-size: cover;
}
@mixin head($fsize: 27px) {
  font-size: $fsize;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}
@mixin headafter {
  &::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@mixin imgrespon {
  img{
    width:100%;
    max-width: 100%;
    height: auto;
  }
}