.app-headder-box
  .app-headder-box__upper
    .app-headder-box__upper--logo
      = icon('fas','fa-box-full')
      
    .app-headder-box__upper--search
  .app-headder-box__btm
    .app-headder-box__btm--categories
      .category
      .brand
    .app-headder-box__btm--user-session
      .user-login
      .user-signup
