.top-view
  = render "headder" 
  .content
    .content__intro
       人生を変えるフリマアプリ
      %ul FURIMAはだれでもかんたんに出品・購入できる
      %ul フリマアプリです
    .content__reason


    .content__popular
  = render "items_view"
  = render "footer"


