.lower_space
  .lower_space__content
    -# %nav
    -# %ul
    -#   %li プライバシーポリシー
    -#   %li FURIMA利用規約
    -#   %li 特定商取引に関する表記
    -# %a(href="/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg")
    -# %p 
    -#   %small © FURIMA
    
