.app-btn
  = link_to "#", class: "apple-store" do
    = image_tag('/assets/app_store.svg', size: '180x53')
  = link_to "#", class: "google-play" do
    = image_tag('/assets/google_store.png', size: '180x53')