.app-btn
  = link_to "#", class: "apple-store" do
    = image_tag asset_path('app_store.svg'), size: '180x53'
  = link_to "#", class: "google-play" do
    = image_tag asset_path('google_store.png'), size: '180x53'